<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
      <h2>Categories</h2>
  </div>
  <div class="col-lg-2">
  </div>
</div>
<div class="row wrapper wrapper-content animated fadeInRight">
  <div class="col-lg-12">
    <div class="row">
      <div class="ibox-content"> 
          <kendo-grid [data]="categories" [height]="600"
            (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
            (save)="saveHandler($event)" (remove)="removeHandler($event)"
            (add)="addHandler($event)"
          >
            <ng-template kendoGridToolbarTemplate>
                    <button kendoGridAddCommand>Add new</button>
            </ng-template>
              <kendo-grid-column field="Name" title="Name" width="250" editor="string">
              </kendo-grid-column>
              <kendo-grid-column field="ParentName" title="Parent" >
                <ng-template kendoGridEditTemplate
                  let-dataItem="dataItem"
                  let-formGroup="formGroup">
                  <kendo-dropdownlist
                    [data]="categories"
                    (valueChange)="onParentCategoryChange($event)"
                    [textField]="'Name'"
                    [valueField]="'Id'"
                  >
                  </kendo-dropdownlist>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="SKUPrefix" title="SKU Prefix" width="80">
              </kendo-grid-column>
              <kendo-grid-command-column title="command" width="220">
                    <ng-template kendoGridCellTemplate let-isNew="isNew">
                        <button kendoGridEditCommand [primary]="true">Edit</button>
                        <button kendoGridRemoveCommand>Remove</button>
                        <button kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' : 'Update' }}</button>
                        <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
                    </ng-template>
                </kendo-grid-command-column>
          </kendo-grid>
      </div>
    </div>
    
  </div>
</div>
