<form class="form-horizontal" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label class="control-label col-lg-2" for="name">Name:</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="Name" formControlName="Name" placeholder="Enter name">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-2" for="SKU">SKU:</label>
    <div class="col-lg-10"> 
      <input type="text" class="form-control" id="SKU" formControlName="SKU" placeholder="Enter SKU">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-2" for="ProductCategories">Categories:</label>
    <div class="col-lg-10"> 
      <kendo-treeview
            [nodes]="categories"
            [children]="children"
            [hasChildren]="hasChildren"
            textField="Name"
            [checkBy]="'ParentId_Id'"
            kendoTreeViewCheckable
            [(checkedKeys)]="checkedKeys"
        >
        </kendo-treeview>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-2" for="RegularPrice">Regular Price:</label>
    <div class="col-lg-10">
      <input type="text" class="form-control" id="RegularPrice" formControlName="RegularPrice" placeholder="Enter regular price">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-2" for="QtyOnHand">Quantity:</label>
    <div class="col-lg-10"> 
      <input type="text" class="form-control" id="QtyOnHand" formControlName="QtyOnHand" placeholder="Enter quantity">
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label><input name="IsInStock" formControlName="IsInStock" type="checkbox"> Is in stock</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label col-lg-2" for="Weight">Weight:</label>
    <div class="col-lg-10"> 
      <input type="text" class="form-control" id="Weight" formControlName="Weight" placeholder="Enter weight">
    </div>
  </div>
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default" [disabled]="!formGroup.valid">Submit</button>
    </div>
  </div>
</form>
